@import "tailwindcss";

/* Custom outline text effect */
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px black;
}

/* Social icon styling */
.icon {
  font-size: 1.5rem;
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  background-color: black;
  color: white;
}
